@model IEnumerable<PizzaStore.Context.Users>

@*
@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @Html.TextBoxFor(users => users.ToList().First().FirstName)
    @Html.TextBoxFor(users => users.ToList().First().LastName)
}
*@

@{
        ViewData["Title"] = "User List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<body>

    @using (Html.BeginForm())
    {
    <div class="bs-example" style="border:2px solid gray;">

        <div class="form-group centerlook">
            <h1> Login </h1>
        </div>
        <div class="form-group centerlook">
            <label>First Name: </label>
            @Html.EditorFor(users => users.ToList().First().FirstName)*
            @Html.ValidationMessageFor(users => users.ToList().First().FirstName)
        </div>
        <div class="form-group centerlook">
            <label>Last Name: </label>
            @Html.EditorFor(users => users.ToList().First().LastName)*
            @Html.ValidationMessageFor(users => users.ToList().First().LastName)
        </div>
        <div class="form-group error">
            @if (@ViewBag.Failedcount != null)
            {

                <label> Failed Attempt count is: @ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
        <div class="loginbtn">

            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
    </div>
    }
</body>  